.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 20px;
  min-width: 80%;
}

.form button[type="submit"] {
  border: none;
  height: 40px;
  width: 40px;
  background: #3ac404;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form button[type="submit"]:hover {
  background: #03a025;
}
