.tarefas {
  margin-top: 20px;
}

.tarefas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-radius: 4px;
  transition: all 0.6s;
}

.tarefas li:hover {
  background: aqua;
}

.tarefas li .edit {
  margin-right: 15px;
  color: rgb(6, 108, 139);
  cursor: pointer;
}

.tarefas li .delete {
  margin-right: 15px;
  color: rgb(139, 6, 6);
  cursor: pointer;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
  font-weight: bold;
  color: black;
}

.tarefas li span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
