.main {
  background: #ffff;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main h1 {
  font-size: 20px;
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 20px;
  min-width: 80%;
}

.form button[type="submit"] {
  border: none;
  height: 40px;
  width: 40px;
  background: #3ac404;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form button[type="submit"]:hover {
  background: #03a025;
}

.tarefas {
  margin-top: 20px;
}

.tarefas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-radius: 4px;
  transition: all 0.6s;
}

.tarefas li:hover {
  background: aqua;
}

.tarefas li .edit {
  margin-right: 15px;
  color: rgb(6, 108, 139);
  cursor: pointer;
}

.tarefas li .delete {
  margin-right: 15px;
  color: rgb(139, 6, 6);
  cursor: pointer;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
  font-weight: bold;
  color: black;
}

.tarefas li span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
